@use "./../../utils/layout.scss" as layout;

.product {
  width: 300px;
  .image {
    //m-auto h-[128px] max-h-32 w-[128px] max-w-32 overflow-hidden rounded-full bg-gray-100 text-center
    height: 300px;
    width: 300px;
    background-color: var(--gray);
    border-radius: 20px;
    overflow: hidden;
    @include layout.center(true, true);

    img {
      height: 100%;
    }
  }
  .title {
    font-weight: bold;
    font-size: 23px;
    @include layout.line-clamp(1);
    transition: 0.25s;
    &:hover {
      color: #555;
    }
  }
  //rating
  //price
}
