@use "./../../utils/layout.scss" as layout;

.product {
  width: 300px;
  .image {
    @include layout.center(true, true);
    height: 300px;
    width: 300px;
    background-color: var(--gray);
    border-radius: 20px;
    overflow: hidden;
    border: 3px solid #e5e5e5;
    img {
      height: 100%;
    }
  }
  .title {
    font-weight: bold;
    font-size: 23px;
    @include layout.line-clamp(1);
    transition: 0.25s;
    &:hover {
      color: #555;
    }
  }
  //rating
  //price
}
