.rating {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 4px;
  p {
    font-size: 18px;
    font-weight: 700;
    margin-left: 12px;
    span {
      color: var(--gray40);
    }
  }
}
