// Base Reset
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "cairo", sans-serif;
}

body {
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: initial;
}

img {
  max-width: 100%;
  display: block;
  user-select: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:focus,
  &:active {
    outline: none;
  }
  &:disabled {
    cursor: not-allowed;
  }
}

input,
textarea {
  outline: none;
}
